.App {
  text-align: center;
  padding: 20px;
  background: #f9f9f9;
}
.faculty-dashboard {
  margin: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: blue;
}

.faculty-component {
  margin: 20px;
}

.create-event-form {
  margin-top: 15px;
}

.create-event-form input {
  margin: 5px;
  padding: 5px;
}

.create-event-form button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.create-event-form button:hover {
  background-color: #45a049;
}
